@use '/src/scss/variables.scss';
@use '/src/scss/mixins';

.signupContainer {
  width: 60%;
  padding: 30px;

  @include mixins.card;

  display: grid;
  gap: 30px;
  grid-template-areas:
    "title      title"
    "username   email"
    "password   bio"
    "firstName  lastName";
}

.title {
  font-size: 36px;
  font-family: variables.$font-sans-serif;
  color: variables.$color-main-dark;
  grid-area: title;
}

.username {
  grid-area: username;
}

.email {
  grid-area: email;
}

.password {
  grid-area: password;
}

.bio {
  grid-area: bio;
}

.firstName {
  grid-area: firstName;
}

.lastName {
  grid-area: lastName;
}
