@use '/src/scss/variables';
@use '/src/scss/media';
@use '/src/scss/mixins';
@use '/src/scss/animations';

$header-height: 70px;

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: $header-height;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0.4);
  padding: 0px 20px;
}

.burger {
  display: none;
  font-size: 2rem;
  cursor: pointer;

  @include media.xs {
    display: block;
  }
}

.navBar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 50px;
  padding: 0px 20px;
  font-size: min(1em, 20px);

  @include media.xs {
    flex-direction: column;
    position: absolute;
    top: $header-height+5px;
    font-size: 1.5em;
    right: 1px;
    background-color: white;
    z-index: 1000;
    padding: 30px;

    @include mixins.card;
    animation: popup 200ms;
  }

  .links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    @include media.xs {
      flex-direction: column;
    }
  }

  .userPic {
    aspect-ratio: 1;
    width: 20px;
    border-radius: 50%;

    @include media.xs {
      display: none;
    }
  }

  a {
    color: variables.$color-main-dark;
    text-decoration: none;
    font-family: variables.$font-sans-serif;
    font-weight: 300;
  }

  .userActions {
    display: flex;
    gap: 20px;

    @include media.xs {
      flex-direction: column;
    }
  }

}

.logo {
  font-size: 50px;
  font-family: variables.$font-logo;
  color: variables.$color-main-dark;
  font-weight: 400;
  margin: 5px 50px;
  text-decoration: none;
}
