@use 'src/scss/_variables.scss';

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
}

.topBar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0.4);
  padding: 0px 20px;
}

.navBar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 50px;
  padding: 0px 20px;
  font-size: 22px;

  .links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  .userPic {
    aspect-ratio: 1;
    width: 20px;
    border-radius: 50%;
  }

  a {
    color: variables.$color-main-dark;
    text-decoration: none;
    font-family: variables.$font-sans-serif;
    font-weight: 300;
    border-bottom: 0px solid green;
  }

  .userActions {
    display: flex;
    gap: 20px;
  }

}

.logo {
  font-size: 50px;
  font-family: variables.$font-logo;
  color: variables.$color-main-dark;
  font-weight: 400;
  margin: 5px 50px;
  text-decoration: none;
}
