@use '/src/scss/animations';

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  animation: fade-in 300ms ease-out;

  .modalContainer {
    animation: popup 200ms ease-out;
    animation-fill-mode: forwards;
  }
}
