@use '/src/scss/variables';
@use '/src/scss/mixins';

.pageContainer {
  padding: 20px;
  @include mixins.card;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  .draftToggleContainer {
    font-family: variables.$font-sans-serif;
    font-size: 20px;
  }

  .listContainer {
    overflow: auto;
    height: fit-content;
    width: 700px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .emptyListWarning {
    font-size: 28px;
    font-family: variables.$font-sans-serif;
    padding: 50px;
  }
}
