@use '/src/scss/_variables.scss';
@use '/src/scss/mixins';

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  width: 500px;
  height: 400px;
  padding: 40px;

  @include mixins.card;

  .title {
    font-size: 40px;
    font-family: variables.$font-sans-serif;
    color: variables.$color-main-dark;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 80%;

    .label {
      color: variables.$color-main-dark;
      font-family: variables.$font-serif;
      font-size: 20px;
    }
  }
}
