@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');


$font-sans-serif: Epilogue, Arial, Helvetica, sans-serif;
$font-serif: Literata, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


$color-main: #347B55;
$color-main-dark: #1E5437;

$color-danger: #ba2a2a;
