@use '/src/scss/variables';

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  .titleContainer {
    font-family: variables.$font-sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .draftContainer {
    display: flex;
    gap: 10px;
  }
}
