@use '/src/scss/variables';
@use '/src/scss/mixins';

.pageContainer {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 30px;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  @include mixins.card;

  .titleContainer {
    font-family: variables.$font-sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .draftContainer {
    display: flex;
    gap: 10px;
  }
}
